# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.pytest_cache/
*.mypy_cache/
*.ipynb_checkpoints/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Optional: compiled C extensions
*.c
*.cpp
*.o

# Coverage reports
htmlcov/
.coverage
/build/
/.claude/
